<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button fill="solid" (click)="callGetApi()">API CALL</ion-button>
  <ion-button fill="solid" (click)="callPostApi()">POST API CALL</ion-button>
  <ion-button fill="solid" (click)="callPutApi()">PUT API CALL</ion-button>
  <ion-button fill="solid" (click)="callDeleteApi()">Delete API CALL</ion-button>

  <p>User Count {{ count }}</p>
</ion-content>
